.solution_page_wrapper{
	.top_section_solution{
		background: url('/images/background_top_dark.jpg');
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
		margin-top: -101px;
		height: 600px;
		padding: 200px 0;
		.container-fluid{
			padding: 0;
		}
		.left_wrap{
			width: 50%;
			display: inline-block;
			vertical-align: top;
			img{
				width: 80%;
				object-fit: cover;
			}
		}
		.right_wrap{
			width: 50%;
			display: inline-block;
			vertical-align: top;
			.content_wrap{
				padding-top: 50px;
				width: 75%;
				float: right;
				clear: both;
				h1{
					color: #fff;
					font-size: 60px;
					margin: 0;
				}
				.top_text{
					margin-top: 50px;
				    font-size: 16px;
				    width: 340px;
				    color: #fff;
				}
				.btn_yellow{
					
				}
			}
		}
	}
}