.header{
	padding: 20px 0;
	.mobile_header{
		display: none;
	}
	.header_wrap{
		display: block;
		line-height: 60px;
		text-align: right;
		background: transparent;
		border: 0;
		.left_menu{
			float: left;
		}
		p{
			margin: 0;
		}
		.ant-menu-item {
			a{
				color: #000;
				font-weight: 900;
				&:hover{
					color: #000;
				}
			}
			.btn_purpel{
				background: #6f67fd;
				color: #fff;
				font-weight: 900;
			}
		}
	}
	.ant-menu-horizontal > .ant-menu-item:hover, .ant-menu-horizontal > .ant-menu-submenu:hover, .ant-menu-horizontal > .ant-menu-item-active, .ant-menu-horizontal > .ant-menu-submenu-active, .ant-menu-horizontal > .ant-menu-item-open, .ant-menu-horizontal > .ant-menu-submenu-open, .ant-menu-horizontal > .ant-menu-item-selected, .ant-menu-horizontal > .ant-menu-submenu-selected{
		border-color: transparent;
		position: relative;
		&:after{
			content: '';
			position: absolute;
		    border: 3px solid #6f67fd;
		    line-height: 0;
		    left: 50%;
		    transform: translateX(-50%);
		    bottom: 10px;
		}
	}
	.no_border{
		&:after{
			display: none;
		}
	}
	.menu_company{
		font-size: 18px;
		color: #6f67fd;
	}
}

@media screen and (max-width: 767px){
	.header{
		padding: 20px 30px 10px;
		.header_wrap{
			display: none;
		}
		.mobile_header{
			display: block;
			.mobile_sub_wrapper{
				display: flex;
				justify-content: space-between;
				align-items: center;
				.left_wrapper{
					display: flex;
					align-items: center;
					justify-content: flex-start;
					.company_name{
						font-size: 16px;
						color: #6f67fd; 
						margin: 0;
						font-weight: 900;
					}
				}
				.btn_purpel{
					font-size: 12px;
				}
			}
		}
	} 
	.menu_drawer{
	    font-size: 25px;
		margin: 0;
		color: #6f67fd;
	}
	.drawer_menu{
		.ant-drawer-body{
			padding-right: 0;
		}
		p{
			padding: 10px 0;
		}
		a{
			color: #000;
			&:hover, &:focus{
				color: #000;
				p{
					border-right: 3px solid #6f67fd;
				}
			}
		}
	}
}
@media screen and (max-width: 369px){
	.header{
		padding: 10px 20px 0;
	}
}
@media screen and (max-width: 340px){
	.header{
		padding: 10px 10px 0;
	}
}