.header{
	padding: 20px 0;
	.header_wrap{
		line-height: 60px;
		text-align: right;
		border: 0;
		.left_menu{
			float: left;
		}
		p{
			margin: 0;
		}
		.ant-menu-item {
			a{
				color: #000;
				font-weight: 900;
				&:hover{
					color: #000;
				}
			}
			.btn_purpel{
				background: #6f67fd;
				color: #fff;
				font-weight: 900;
			}
		}
	}
	.ant-menu-horizontal > .ant-menu-item:hover, .ant-menu-horizontal > .ant-menu-submenu:hover, .ant-menu-horizontal > .ant-menu-item-active, .ant-menu-horizontal > .ant-menu-submenu-active, .ant-menu-horizontal > .ant-menu-item-open, .ant-menu-horizontal > .ant-menu-submenu-open, .ant-menu-horizontal > .ant-menu-item-selected, .ant-menu-horizontal > .ant-menu-submenu-selected{
		border-color: transparent;
		position: relative;
		&:after{
			content: '';
			position: absolute;
		    border: 3px solid #6f67fd;
		    line-height: 0;
		    left: 50%;
		    transform: translateX(-50%);
		    bottom: 10px;
		}
	}
	.no_border{
		&:after{
			display: none;
		}
	}
	.menu_company{
		font-size: 18px;
		color: #6f67fd;
	}
}

/*@media screen and (max-width: 767px){
	.header{
		.header_wrap{
			.left_menu{
			    width: 0;
    			margin-left: 50px;
			}
			.mobile_width_header{
				width: 100% !important;
			}
			.ant-menu-overflowed-submenu{
				position: absolute;
    			left: 20px;
			}
		}
	} 
	.header .ant-menu-horizontal > .ant-menu-item:hover:after, .header .ant-menu-horizontal > .ant-menu-submenu:hover:after, .header .ant-menu-horizontal > .ant-menu-item-active:after, .header .ant-menu-horizontal > .ant-menu-submenu-active:after, .header .ant-menu-horizontal > .ant-menu-item-open:after, .header .ant-menu-horizontal > .ant-menu-submenu-open:after, .header .ant-menu-horizontal > .ant-menu-item-selected:after, .header .ant-menu-horizontal > .ant-menu-submenu-selected:after{
		content: '';
		display: none;
	}
}*/