
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.main--wrapper{
  h1{
    font-family: 'Bely Bold',  sans-serif;
  }
  p{
   font-family: 'DejaVuSans',  sans-serif; 
  }
  h6{
    font-family: 'DejaVu Sans Condensed', sans-serif;
  }
  ul{
    list-style: none;
    padding: 0;
    margin: 0;
  }
  .btn{
    font-family: 'DejaVu Sans Condensed', sans-serif;
    &:focus{
      outline: 0;
      box-shadow: none;
    }
  }
  .btn_purpel{
    background: #6f67fd;
    color: #fff;
    font-weight: 900;
    &:hover{
      color: #fff;
    }
  }
  .text_width{
    width: 805px;
    margin: 0 auto;
    text-align: center;
    max-width: 100%;
  }
  .text_black{
    font-size: 20px;
    color: #000;
    span{
      font-weight: 900;
    }
  }
  .section_title_wrap{
    text-align: center;
    width: 600px;
    margin: 0 auto;
    max-width: 100%;
    h6{
      font-weight: 900;
      font-size: 15px;
      color: #000;
      text-transform: uppercase;
    }
    h1{
      color: #6f67fd;
      font-size: 60px;
    }
  }
  @media screen and (max-width: 767px){
    .section_title_wrap {
      h6{
        font-size: 12px;        
      }
      h1{
        font-size: 32px;
        padding: 10px 0 20px;
      }
    }
    .text_black{
      font-size: 12px;
    }
  }
}
  @media screen and (max-width: 767px){
    .main--wrapper{
      overflow-x: hidden;
    }
  }
