
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.main--wrapper{
  .body--wrapper{
    min-height: calc(100vh - 61px;)
  }
  ul{
    list-style: none;
    padding: 0;
    margin: 0;
  }
  .btn_purpel{
    background: #6f67fd;
    color: #fff;
    font-weight: 900;
  }
}